*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  padding: 0; }

::-moz-selection {
  background: rgba(0, 173, 239, 0.44444);
  color: #fff; }

::selection {
  background: rgba(0, 173, 239, 0.44444);
  color: #fff; }

@font-face {
  src: url(head.ttf);
  font-family: Circular; }

@font-face {
  src: url(lyonitalice.ttf);
  font-family: LyonItalic; }

@font-face {
  src: url(apercu.ttf);
  font-family: Apercu; }

html,
body {
  background: #efefef;
  font-size: 100%;
  font-family: Apercu;
  color: #222;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important; }

body {
  font-family: Apercu; }

h1,
h2,
h3,
h4 {
  font-family: Circular;
  font-weight: normal; }

nav {
  height: 100vh;
  width: 25%;
  position: fixed;
  background: #2c3e50; }
  nav .user_img {
    background: url(user.jpg) center center no-repeat;
    background-size: cover;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
    margin: 30px 10px 10px 40px;
    border-radius: 50%; }
  nav .user_stat_base {
    position: absolute;
    bottom: 0;
    margin: 20px 20px 20px 130px; }
    nav .user_stat_base .name {
      font-family: Circular;
      font-size: 1.222rem;
      color: #fff;
      letter-spacing: .2pt;
      line-height: 1.5555; }
    nav .user_stat_base .detail {
      font-size: 0.89rem;
      color: rgba(255, 255, 255, 0.69); }
  nav ul {
    margin: 150px 0px 20px 50px; }
    nav ul li {
      list-style-type: none;
      line-height: 1.88; }
      nav ul li a {
        color: rgba(255, 255, 255, 0.666);
        text-decoration: none;
        font-family: Circular;
        font-weight: normal;
        font-size: 1.23rem;
        border-bottom: 2px solid transparent; }
        nav ul li a:hover {
          color: white;
          border-bottom: 2px solid rgba(255, 255, 255, 0.5); }

hr {
  width: 75%;
  height: 3px;
  outline: none;
  border: none;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.19); }

.main_dash {
  float: right;
  height: 100vh;
  width: 75%; }

.logo {
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 50%;
  position: absolute;
  top: 0;
  margin: 40px; }

.status {
  position: absolute;
  background: #2ecc71;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin: 15px 5px; }

.req {
  background: #2ecc71;
  color: #fff;
  position: relative;
  text-decoration: none;
  padding: 15px 25px;
  top: 40px;
  left: 40px;
  text-transform: uppercase;
  font-size: 8pt;
  letter-spacing: 2pt;
  border-radius: 30px; }

.line {
  background: transparent;
  padding: 15px 17px;
  border: 2px solid #2ecc71; }
  .line:hover {
    background: rgba(46, 204, 113, 0.08); }

.greet {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 5rem 3rem;
  background: #fff; }
  .greet h1 {
    color: #222222;
    font-size: 2.5rem;
    margin-bottom: 10px; }
  .greet p.lead {
    color: rgba(34, 34, 34, 0.5); }
    .greet p.lead .recent {
      color: #222; }

.dabba_reports {
  background: white;
  margin: 20px 10px;
  position: absolute;
  padding: 20px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); }
  .dabba_reports h1 {
    font-size: 2.5rem; }

.two {
  margin: 20px 0px 20px 360px;
  padding: 20px 40px; }

.three {
  margin: 20px 0px 20px 700px; }

.cite {
  color: #666;
  font-style: italic; }
