*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    transition: all .35s ease-in-out;
    padding: 0;
}

::selection {
    background: rgba(#00adef, 0.44444);
    color: #fff;
}

@font-face {
    src: url(head.ttf);
    font-family: Circular;
}

@font-face {
    src: url(lyonitalice.ttf);
    font-family: LyonItalic;
}

@font-face {
    src: url(apercu.ttf);
    font-family: Apercu;
}

html,
body {
    font-size: 100%;
    font-family: Apercu;
    color: #222;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
}

body {
    font-family: Apercu;
}

h1,
h2,
h3,
h4 {
    font-family: Circular;
    font-weight: normal;
}

.right {
    float: right;
    height: 100vh;
    width: 50%;
    display: table;
}

.hero {
    height: 100vh;
    width: 100%;
}

.left {
    float: left; // background: #000;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 50%;
    display: table;
    .centered {
        display: table-cell;
        vertical-align: middle;
        padding-left: 15%;
        h1 {
            line-height: 1.133;
            font-size: 3rem;
            color: #fff;

            span {
                border-bottom: 3px solid rgba(#fff, 0.155);
                // font-family: Circular;
            }
        }

        p.lead {
            font-family: Apercu;
            margin-bottom: 5px;
            color: rgba(#fff, 0.577);
            font-size: 1.2rem;
            margin-right: 60px;
        }
    }
}

a {
    text-decoration: none;
    color: #333;
}

.button {
    background: transparent;
    border: 2px solid rgba(#fff, 0.666);
    color: rgba(#fff, 0.666);
    font-family: monospace;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 15px 25px;
    position: relative;
    top: 0;
    &:hover {
        top: -7px;
        box-shadow: -7px 7px 0 rgba(#fff, 0.255);
        background: rgba(#fff, 0.133);
        color: #fff;
    }
}

.white {
    background: #fff !important;
    color: #00adef;
    &:hover {
        color: #00adef;
    }
}

.dark {
    color: #222;
    border: 2px solid #222;
    &:hover {
        color: #fff;
        background: #222;
        box-shadow: -7px 7px 0 rgba(#222, 0.255);
    }
}

.bump-right {
    margin-right: 20px;
}

.quote {
    height: 60vh;
    width: 100%;
}

.working {
    height: 50vh;
    width: 100%;
    display: table;
    padding: 0 6rem;
    background: #000;
    .center {
        font-size: 1.5rem;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}


.gradient {
    
    font-family: Apercu;
    opacity: 0;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

.cite {
    color: rgba(#fff, 0.25);
    margin-left: 60%;
}

.image {
    position: relative;
    top: 50px;
    left: 5%; // background: url(iphone.png) center center no-repeat;
    height: 600px;
    width: 600px;
}

.uno {
    background: url(send.png) center center no-repeat;
    background-size: cover;
}

.dos {
    background: url(loan.png) center center no-repeat;
    background-size: cover;
}

.tres {
    background: url(hogaya.png) center center no-repeat;
    background-size: cover;
}

.about {
    height: 100vh;
    width: 100%;
    padding: 10% 29%;
    h1 {
        font-family: Circular;
        color: #08294B;
        line-height: 1.2;
        font-size: 2.88rem;
        margin-bottom: 20px;
        span {
            padding-bottom: 5px;
            border-bottom: 4px solid rgba(darken(#00adef, 16%), .14) !important;
        }
    }
    p.lead {
        margin-top: 10px;
        font-size: 1.122rem;
        line-height: 1.433333;
        color: #666;
        font-family: Apercu;
    }
}

.img_div {
    height: 60vh;
    width: 100%;
    background: url(divider.jpg) center center no-repeat fixed;
    background-size: cover;
    .overlay {
        height: 100%;
        width: 100%;
        background: rgba(#00adef, 0.244);
    }
}

.deux {
    background: url(div2.jpg) center center no-repeat fixed;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.left_features {
    background: #00adef;
    float: left;
    height: 100vh;
    width: 50%;
    display: table;
    .centered {
        display: table-cell;
        vertical-align: middle;
        padding-left: 15%;
        padding-right: 5%;
        h1 {
            line-height: 1.133;
            font-size: 3rem;
            color: #fff;

            span {
                border-bottom: 3px solid rgba(#fff, 0.355);
                font-family: Circular;
            }
        }

        p.lead {
            font-family: Apercu;
            margin-bottom: 5px;
            color: rgba(#fff, 0.577);
            font-size: 1.2rem;
            margin-right: 60px;
        }
    }
}

.left_features2 {
    background: #fff;
    float: left;
    height: 100vh;
    width: 50%;
}

li {
    list-style-type: none;
    color: rgba(#fff, 0.666);
    margin: 10px;
    font-size: 1.6rem;
    span {
        // font-size: rem;
        color: rgba(#fff, 0.2222);
        margin-right: 15px;
    }
}

.right_2 {
    float: right;
    background: mix(#2980b9, #fff, 100);
    height: 100vh;
    width: 50%;
    display: table;
    .centered {
        display: table-cell;
        vertical-align: middle;
        padding-left: 15%;
        h1 {
            line-height: 1.133;
            font-size: 2.5rem;
            color: #fff;

            span {
                border-bottom: 3px solid rgba(#fff, 0.155);
                font-family: Circular;
            }
        }

        p.lead {
            font-family: Apercu;
            margin-bottom: 5px;
            color: rgba(#fff, 0.577);
            font-size: 1.2rem;
            margin-right: 60px;
        }
    }
}

.troix {
    background: url(hipster.jpg) center center no-repeat fixed !important;
}

.slider {
    max-width: 500px;
    height: 500px;
    top: 50px;
    margin: 20px auto;
    position: relative;
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1 {
    background: url(iphone4.png) no-repeat center;
    background-size: cover;
    animation: fade 8s infinite;
    -webkit-animation: fade 8s infinite;
}

.slide2 {
    background: url(boom.png) no-repeat center;
    background-size: cover;
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite;
}

.slide3 {
    background: url(mad.png) no-repeat center;
    background-size: cover;
    animation: fade3 8s infinite;
    -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
    0% {
        opacity: 1
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade2 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 1
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes fade3 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.logo {
	height: 50px;
	width: 50px;
	margin: 30px;
	// 	right: 0;
	// opacity: 0.8;
	position: fixed;
	background: url(final.png) center center no-repeat;
	background-size: cover;
}