<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<title>BrainTrain</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>

<body>
	<div id="login_daemon">
		<div class="centered">
			<div class="login_box">
				<form method="POST" action="{{ url_for('login') }}">
					<input type="text" spellcheck ="false" placeholder="Username" name="username"><br>
					<input type="password" placeholder="Password" name="password"><br>
					<input type="submit" value="Login">
				</form>
			</div>
		</div>
	</div>
	<section class="hero">
		<div class="logo"></div>
		<div class="left">
			<div class="centered">
				<h1 class="animated fadeInDown">BrainTrain</h1>
				<h1 class="animated fadeInDown">personal <span>mental-care</span> app</h1>
				<br>
				<p class="lead animated fadeInUp">
					A progressive web application working alongside a headgear (cap), relaying real time information about the user's brain activity to detect depression and it’s extent.
				</p>
				<p class="lead animated fadeInUp">
					The app recognises the severity of the issue and suggests warnings to evade similar circumstances.
				</p>
				<br>
				<br>
				<p class="lead animated fadeIn">
					<a href="#0" class="button white bump-right" id = "login">Login Here</a>
					<a href="#quote" class="button">read on</a>
				</p>
			</div>
		</div>
		<div class="right">
			<div class="slider">
				<div class="slide1"></div>
				<div class="slide2"></div>
				<div class="slide3"></div>
			</div>
		</div>
	</section>
	<section class="working" id="lol">
		<div class="center">
			<h1 class="gradient" id="quote">&lsquo;I was depressed because my poetry wasn't a big hit on Facebook. BrainTrain helped me a lot.&rsquo;</h1>
			<p class="cite">&mdash; Baby Sehgal</p>
		</div>
	</section>
	<section class="about">
		<h1 class="header_about">BrainTrain enables you to manage your lifestyle <span class="blue" style="color: #41a9dc !important; border: none;">healthy</span>.</h1>
		<p class="lead">
			If the “sadness quotient” goes below a certain threshold then the user is given a psychiatric recommendation, the following day, via notification.
		</p>
		<p class="lead">
			A mail would be sent to all the confidants to update the severity of the issue.
		</p>
		<p class="lead">
			A user can view his monthly stress calender and can be suggested measures to avoid the latter.
		</p>
		<br>
		<br>
		<a href="#0" class="button dark">Evaluate yourself</a>
	</section>
	<section class="img_div">
		<div class="overlay"></div>
	</section>
	<!--
  <section class="feature">Easytonav
  Loan applications made simple
  Income channelisation</section> -->
	<section class="hero">
		<div class="left_features" id="simple">
			<div class="centered">
				<h1>A simple and intuitive user interface.</h1>
				<ul>
					<li><span>&mdash;</span>Navigate quickly to the desired page.</li>
					<li><span>&mdash;</span>Forget clicking endless links</li>
					<li><span>&mdash;</span>Simply get your results</li>
					<!-- <li><span>&mdash;</span>Responsive and adaptive UI</li> -->
					<!-- <li><span>&mdash;</span>amet</li> -->
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="image uno"></div>
		</div>
	</section>
	<section class="img_div deux">
		<div class="overlay"></div>
	</section>
	<section class="hero">
		<div class="right_2">
			<div class="centered">
				<h1>Stress Calender</h1>
				<ul>
					<li>This stress calender can also be downloaded by therapists using the user’s credentials for more efficient/faster conditioning.</li>
					<li>Our solution will also have blogs about treating depression and points about handling other key aspects like nutritional intake, socialising etc.</li>
					<li>Fookin sick</li>
					<li>Get the best interest</li>
				</ul>
			</div>
		</div>
		<div class="left_features2">
			<div class="image dos"></div>
		</div>
	</section>
	<section class="img_div troix">
		<div class="overlay"></div>
	</section>
	<section class="hero">
		<div class="left_features">
			<div class="centered">
				<h1>The Thought Process</h1>
				<ul>
					<li>According to a research done by IEEE, brain waves can be used to extract EEG signals which could further be used for Emotional Recognition. The idea is to use the statistics/data recordings of the headset and get an estimate of how "Sad" the person is. These inputs from the cap would now be plotted alongside regular activity and the person would be notified if a particular moment is getting too heavy for him.</li>
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="image tres"></div>
		</div>
	</section>
	<footer>
	</footer>
	<script>
	$(window).scroll(function() {
		$('.gradient').each(function() {
			var imagePos = $(this).offset().top;

			var topOfWindow = $(window).scrollTop();
			if (imagePos < topOfWindow + 400) {
				$(this).addClass("animated fadeIn");
			}
		});
	});
	</script>
	<script>
	$('a[href*="#"]')
		.not('[href="#"]')
		.not('[href="#0"]')
		.click(function(event) {
			if (
				location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
				&&
				location.hostname == this.hostname
			) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				if (target.length) {
					event.preventDefault();
					$('html, body').animate({
						scrollTop: target.offset().top
					}, 1000, function() {
						var $target = $(target);
						$target.focus();
						if ($target.is(":focus")) {
							return false;
						} else {
							$target.attr('tabindex','-1');
							$target.focus();
						};
					});
				}
			}
		});
	</script>
	<script>
		$('#login').on('click', function(){
			$('#login_daemon').addClass('show')
		});
	</script>
</body>

</html>
